.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &__card {
    max-width: 450px;
      &__btns {
        display: flex;
        justify-content: space-between;
      }
  }
}
