<div class="register-container">
  <mat-card class="register-container__card">
    <mat-card-header>
      <mat-card-title>Crear cuenta en la plataforma</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="submit()" [formGroup]="form">
        <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
        <div class="register-container__card__btns">
          <button [disabled]="form.invalid" mat-raised-button color="primary">
            {{(authQuery.loading$ | async) ? 'Creando cuenta...': 'Crear Cuenta' }}
          </button>
          <a (click)="goSignIn()" mat-button>
            Iniciar sesión
          </a>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
