<mat-sidenav-container class="example-container" >
  <mat-sidenav #matSidenav mode="over">
    <mat-nav-list>
      <mat-list-item [routerLink]="link.url" *ngFor="let link of links">
        <button disableRipple="true" mat-icon-button >
          <mat-icon>
              {{ link.icon }}
          </mat-icon>
        </button>
        {{ link.description }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <zib-loan-header [sidenav]="matSidenav"></zib-loan-header>
    <div class="container-router">
      <router-outlet></router-outlet>
    </div>
    <zib-loan-footer></zib-loan-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
